*{transition:all 0.3s ease-in-out;
   margin: 0px auto;
}

.header {
    background-color: #20232a;
    color: #c2c2d6;
}

a {
    text-decoration: none;
    color: #c2c2d6;
}


/* nav{float:right;}

.logo img{float:left;} */

.header-content {
    display: flex;
    justify-content: space-between;
}



/* .link-a > img {
    display: inline-block;
   
} */

nav {
    padding-top: 20px;
    padding-bottom: 20px;
    
}

ul li{
  display: inline-block; 
  padding-left: 70px;
  font-size:20px;
  line-height: 60px;
  cursor: pointer;
}

ul li a:hover{
  color:#61dafb;
  
}

ul li a.active {
    color: #61dafb;
}


.header-p{
    display: inline-block;
    color: #61dafb;
    font-weight: 700;
    font-size: 35px;
    line-height: 50px;
    padding-top: 20px;
    
}

.header-img {
      vertical-align:baseline;
}